src/*.py[cod]
__pycache__/
src/.venv
.DS_Store
.vscode/
.temp/
notebook.ipynb
test_nb.ipynb
.venv/
.env
.todo.txt
.wandb/
# (Nice template collection here https://github.com/github/gitignore/tree/main)


