# Ignore compiled Python files
src/*.py[cod]

# Ignore cache directories
__pycache__/

# Ignore environment files
src/.venv
.DS_Store

# Ignore IDE-specific files
.vscode/

# Ignore temporary files
.temp/

# (A nice collection here https://github.com/github/gitignore/tree/main)


